.item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 250px;
    cursor: pointer;
    flex-basis: 20%;
}
.item-label{
    margin-top: 10px;
    opacity: 0;
    display: flex;
    justify-content: center;
    width: 100%;    
}

.item-price{
    opacity: 0;
    display: flex;
    justify-content: center;
    width: 100%;        
}

.item-img{
    margin: 0 auto;

}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 0.5s ease-in forwards;
  }
  
@keyframes fadeInAnimation {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

@media screen and (max-width: 1450px) {
    .item{
        flex-basis: 25%;
    }
}

@media screen and (max-width: 1100px) {
    .item{
        flex-basis: 25%;
    }
    .item-label{
        opacity: 1 !important;
    }
    
    .item-price{
        opacity: 1 !important; 
    }
}

@media screen and (max-width: 800px) {
    .item{
        flex-basis: 50%;
    }
}

@media screen and (max-width: 450px) {
    .item{
        flex-basis: 100%;
    }
}
